<div id= "convo" class="flex w-full h-full h-min bg-white border" style = "max-height:800px; min-height:800px">
  <div class="h-full w-60 " style = "max-height:800px; min-height:800px">
    <div class="flex h-full w-full" >
      <div class="h-full w-full" >
        <div class="flex-col px-6 border-r-2 border-gray border-2  ">
          <div class="flex place-items-center justify-between">
            <div class="flex text-4xl font-black">Chats</div>
          </div>
        </div>
        <div class="flex overflow-y-auto h-full w-full" style = "max-height:800px; min-height:800px">
          <div id="allConvos" class="flex flex-col w-full h-full">
            <% @conversations.each do |conversation| %>
              <% if conversation.id==@conversation.id%>
                <% className = " px-2 divide-y flex space-x-2 border-black border-2 overflow-hidden outline-none bg-gray-200 w-60"%>
              <% else %>
                <% className = " px-2  divide-y  bg-white-100 border-4  overflow-hidden flex space-x-2 hover:bg-gray-200 focus:outline-none focus:bg-gray-200 w-60" %>
              <% end %>
              <%= link_to conversation_messages_path(conversation),class: className do %>
                <button >
                  <%# <div class="w-20 h-20 mx-auto lg:mx-0">
                    <img src="user.profilePic" alt="" class="rounded-full" />
                  </div> %>
                  <div class=" flex flex-col items-start " style = "max-height:61px; text-overflow: ellipsis;">
                    <div class="text-2xl font-bold  " >
                      <% if conversation.sender_id == current_user.id %>
                        <%= User.find(conversation.recipient_id).username  %>
                      <% else %>
                        <%= User.find(conversation.sender_id).username %>
                      <% end %>
                    </div>
                    <div class="flex text-xs space-x-1 truncate">
                      <%if conversation.last_message.present?%>
                        <%if conversation.last_message.read || conversation.last_message.user_id == current_user.id%>
                          <div  > Last Message: <%= conversation.last_message.body %>  </div>
                        <%else%>
                          <div class ="font-bold"> Last Message: <%= conversation.last_message.body %>  </div>
                        <% end %>
                      <% else %>
                        <div> No messages exchanged! </div>
                      <% end %>
                    </div>
                  </div>
                </button>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex relative border-l-2  flex-col divide-y divide-x flex-grow h-auto" style = "max-height:800px; min-height:800px">
    <div class="flex w-full divide-x">
      <div class="flex text-4xl  divide-x font-black">
        <p><%= @user.username %></p>
      </div>
    </div>
    <div class="flex overflow-y-scroll divide-y mb-8">
      <div id= "inside_convo" class="flex flex-col overflow-y-scroll p-4 w-full">
       
        <% @messages.each do |message| %>
          <% if message.body %>
            <%if message.user_id == current_user.id%>
              <div class="flex justify-end" >
                <div class="flex items-end space-x-2 justify-end right-0" style = "max-width:600px;">
                  <div class="bg-gray-200 px-6 py-2 p-100 rounded break-words  ">
                    <%= message.body %>
                  </div>
                </div>
              </div>
              <div class="flex justify-end mb-2" >
                <p class=" text-sm text-gray-500"><%= message.created_at %></p>
              </div>
            <% else %>
              <div class="flex">
                <div class="bg-blue-700 px-6 py-2 w-auto rounded text-white break-words" style = "max-width:800px;">
                  <%= message.body %>
                </div>
              </div>
              <p class=" text-sm text-gray-500 mb-2"><%= message.created_at %></p>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="absolute place-items-center w-full bottom-0 justify-between">
      <%= form_for [@conversation, @message] do |f| %>
        <div class="flex flex-grow bg-gray ">
          <%= f.text_field :body, class: "bg-gray text-2xl w-full focus:outline-none"  %>
          <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
          <%= f.submit "Add Reply", class: "bg-blue-700 text-white labeled submit button" %>
        </div>
      <%end%>
    </div>
  </div>
</div>
