<div class="mt-6 sm:mt-5">
  <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
    <label for="name" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
      <%= t('name') %>
    </label>
    <div class="mt-1 sm:mt-0 sm:col-span-2">
      <div class="max-w-lg flex rounded-md shadow-sm">
        <%= f.text_field "name", class: "flex-1 form-input block w-full rounded-none rounded-r-md transition duration-150 ease-in-out sm:text-sm sm:leading-5", required: true %>
      </div>
      <p class="mt-2 text-sm text-gray-500"><%= t('your_full_name') %></p>
    </div>
  </div>

  <div class="mt-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
    <label for="about" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
      <%= t('about_you') %>
    </label>
    <div class="mt-1 sm:mt-0 sm:col-span-2">
      <div class="max-w-lg flex rounded-md shadow-sm">
        <%= f.text_area "about", rows: 3, class: "form-textarea block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5", required: true %>
      </div>
    </div>
  </div>

  <!-- <div class="mt-6 sm:mt-5">
    <div class="sm:border-t sm:border-gray-200 sm:pt-5">
      <fieldset>
        <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-baseline">
          <div>
            <legend class="text-base leading-6 font-medium text-gray-900 sm:text-sm sm:leading-5 sm:text-gray-700">
              <%= t('skills_you_can_help_with') %>
            </legend>
          </div>
          <div class="mt-4 sm:mt-0 sm:col-span-2">
            <div class="max-w-lg">
              <% Settings.volunteer_skills.each do |skill| %>
                <div class="relative flex items-start">
                  <div class="absolute flex items-center h-5">
                  <%= f.check_box :skill_list, { multiple: true, class:  "form-checkbox h-4 w-4 text-primary-600 transition duration-150 ease-in-out"}, skill, nil %>
                  </div>
                  <div class="pl-7 text-sm leading-5">
                    <label for="user_skill_list_<%= skill.downcase.gsub(' & ', '__').gsub(' ', '_') %>" class="font-medium text-gray-700">
                      <%= skill %>
                    </label>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="mt-6 sm:mt-5">
      <div class="sm:border-t sm:border-gray-200 sm:pt-5">
        <fieldset>
          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-baseline">
            <div>
              <legend class="text-base leading-6 font-medium text-gray-900 sm:text-sm sm:leading-5 sm:text-gray-700">
                <%= t('level_of_availability') %>
              </legend>
            </div>
            <div class="mt-4 sm:mt-0 sm:col-span-2">
              <div class="max-w-lg">
                <% Settings.volunteer_availabilities.each do |availability| %>
                  <div class="relative flex items-start">
                    <div class="absolute flex items-center h-5">
                      <%= f.radio_button :level_of_availability, availability, { :multiple => false, class:  "form-radio h-4 w-4 text-primary-600 transition duration-150 ease-in-out"} %>
                    </div>
                    <div class="pl-7 text-sm leading-5">
                      <label class="font-medium text-gray-700">
                        <%= availability %>
                      </label>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </fieldset>
      </div> -->

  <div class="mt-6 sm:mt-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
    <label for="profile_links" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
      <%= t('links_to_places_where_people_can_get_to_know_you_b') %>
    </label>
    <div class="mt-1 sm:mt-0 sm:col-span-2">
      <div class="max-w-lg flex rounded-md shadow-sm">
        <%= f.text_area "profile_links", rows: 3, class: "form-textarea block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5", required: true %>
      </div>
      <p class="mt-2 text-sm text-gray-500"><%= t('for_instance_your_ar_xiv_git_hub_linked_in_twitter') %></p>
    </div>
  </div>

  <div class="mt-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
    <label for="location" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
      <%= t('your_ballpark_location') %>
    </label>
    <div class="mt-1 sm:mt-0 sm:col-span-2">
      <div class="max-w-lg flex rounded-md shadow-sm">
        <%= f.text_field "location", class: "flex-1 form-input block w-full rounded-none rounded-r-md transition duration-150 ease-in-out sm:text-sm sm:leading-5", required: true %>
      </div>
      <p class="mt-2 text-sm text-gray-500"><%= t('city_state_country_ideally_don_t_be_too_specific') %></p>
    </div>
  </div>

  <div class="mt-6 sm:mt-5">
    <div class="sm:border-t sm:border-gray-200 sm:pt-5">
      <fieldset>
        <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-baseline">
          <div>
            <legend class="text-base leading-6 font-medium text-gray-900 sm:text-sm sm:leading-5 sm:text-gray-700">
              <%= t('options') %>
            </legend>
          </div>
          <div class="mt-4 sm:mt-0 sm:col-span-2">
            <div class="max-w-lg">
              <div class="relative flex items-start">
                <div class="absolute flex items-center h-5">
                  <%= f.check_box "visibility", class: "form-checkbox h-4 w-4 text-primary-600 transition duration-150 ease-in-out5" %>
                </div>
                <div class="pl-7 text-sm leading-5">
                  <%= f.label 'visibility', 'Visibility', class: 'font-medium text-gray-700' %>
                  <p class="text-gray-500"><%= t('i_want_my_information_including_my_email_to_be_vis') %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</div>

<div class="mt-8 border-t border-gray-200 pt-8 sm:mt-5 sm:pt-10">
  <div class="flex justify-between">
    <h3 class="text-lg leading-6 font-medium text-gray-900 inline-flex">
      <%= t('edit_security_settings') %>
    </h3>
    <span class="inline-flex rounded-md shadow-sm">
      <button id="editSecurity" type="button" type="button" data-modal-toggle="popup-modal" class="inline-flex justify-center py-2 px-4 border border-green-500 text-sm leading-5 font-medium rounded-md text-green-900 hover:text-white bg-white hover:bg-green-500 focus:outline-none focus:border-green-700 focus:shadow-outline-primary active:bg-green-700 transition duration-150 ease-in-out">
        <span>
          <%= t('edit') %>
        </span>
      </button>
    </span> 
  </div>

  <div id="editConfirm" class="modal hidden overflow-y-auto overflow-x-hidden fixed left-50 top-50 z-50 justify-center items-center inset-0 h-modal" id="popup-modal">
    <div class="relative px-4 w-full max-w-md h-auto">
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
        <div class="flex justify-end p-2">
            <button id="closeModal" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-toggle="popup-modal">
                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>  
            </button>
        </div>
        <div class="p-6 pt-0 text-center">
            <svg class="mx-auto mb-4 w-5 h-14 text-gray-400 dark:text-gray-200" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
            <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Do you want to edit your security settings?</h3>
            <button id="confirm" data-modal-toggle="popup-modal" type="button" class="text-white bg-green-600 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
                Yes
            </button>
            <button id="cancel" data-modal-toggle="popup-modal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:ring-gray-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600">Cancel</button>
        </div>
      </div>
    </div>
  </div>


  <div id="security" class="hidden">
    <div class="mt-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
      <label for="email" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
        <%= t('email_address') %>
      </label>
      <div class="mt-1 sm:mt-0 sm:col-span-2">
        <div class="max-w-lg flex rounded-md shadow-sm">
          <%= f.text_field "email", class: "flex-1 form-input block w-full rounded-none rounded-r-md transition duration-150 ease-in-out sm:text-sm sm:leading-5", required: true %>
        </div>
      </div>
    </div>

    <div class="mt-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
      <label for="new_password" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
        <%= t('password') %>
      </label>
      <div class="mt-1 sm:mt-0 sm:col-span-2">
        <div class="max-w-lg flex rounded-md shadow-sm">
          <%= f.password_field :password, autocomplete: "new-password", class: "flex-1 form-input block w-full rounded-none rounded-r-md transition duration-150 ease-in-out sm:text-sm sm:leading-5" %>
        </div>

        <p class="mt-2 text-sm text-gray-500"><%= t('leave_blank_if_you_don_t_want_to_change_it') %></p>
      </div>
    </div>

    <div class="mt-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
      <label for="password_confirmation" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
        <%= t('password_confirmation') %>
      </label>
      <div class="mt-1 sm:mt-0 sm:col-span-2">
        <div class="max-w-lg flex rounded-md shadow-sm">
          <%= f.password_field :password_confirmation, autocomplete: "password-confirmation", class: "flex-1 form-input block w-full rounded-none rounded-r-md transition duration-150 ease-in-out sm:text-sm sm:leading-5" %>
        </div>
      </div>
    </div>

    <div class="mt-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
      <label for="current_password" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
        <%= t('old_password') %>
      </label>
      <div class="mt-1 sm:mt-0 sm:col-span-2">
        <div class="max-w-lg flex rounded-md shadow-sm">
          <%= f.password_field :current_password, autocomplete: "current-password", class: "flex-1 form-input block w-full rounded-none rounded-r-md transition duration-150 ease-in-out sm:text-sm sm:leading-5" %>
        </div>

        <p class="mt-2 text-sm text-gray-500"><%= t('only_if_you_are_changing_your_password') %></p>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>

<script>
  $(window).ready(function() {
    $("#editSecurity").on('click', function() {
      $("#editConfirm").attr("style", "display: grid");
      $("#editConfirm").fadeIn(300);
    });
    $("#closeModal").on('click', function() {
      $("#editConfirm").fadeOut(300);
    });
    $("#cancel").on('click', function() {
      $("#editConfirm").fadeOut(300);
    });
    $("#confirm").on('click', function() {
      $("#security").fadeIn(300);
      $("#editConfirm").fadeOut(300);
    });
  });

</script>