<div class="flex mb-4 sm:px-4">
  <%
    project_category = Settings.project_categories.select { |cat| cat.name == category }.first
    color = project_category.present? ? project_category.color : 'primary'
  %>
  <div class="block sm:flex w-full pt-0 sm:pt-1">
    <div class="w-full text-3xl text-teal-600 sm:mt-4 sm:mb-4 font-bold">
      Featured Projects
    </div>
  </div>
</div>

<div id="featured-project-slider-1" class="w-full px-4 sm:px-0 space-y-bottom-4 sm:grid grid-cols-2 lg:grid-cols-3 sm:gap-6">
  <% projects.first(3).each do |project| %>
    <% if project.approved %>
      <% cache project do %>
        <%= render partial: 'projects/project-card', locals: { project: project, category: category} %>
      <% end %>
    <% end %>
  <% end %>
</div>

<div id="featured-project-slider-2" class="w-full px-4 sm:px-0 space-y-bottom-4 sm:grid grid-cols-2 lg:grid-cols-3 sm:gap-6">
  <% projects.last(3).each do |project| %>
    <% if project.approved %>
      <% cache project do %>
        <%= render partial: 'projects/project-card', locals: { project: project, category: category} %>
      <% end %>
    <% end %>
  <% end %>
</div>

<button
    id="featuredProjectButtonPrev"
    class="carousel-control-prev absolute top-0 bottom-0 left-0 focus:outline-none"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon inline-block bg-no-repeat" aria-hidden="true"></span>
    <span class="visually-hidden"><%= inline_svg_pack_tag 'media/svgs/eva-prev.svg', class: 'duration-200 hover:scale-125 inline-block fill-current transform transition-transform duration-100 -translate-x-1 group-hover:translate-x-0' %></span>
</button>

<button
    id="featuredProjectButtonNext"
    class="carousel-control-next absolute top-0 bottom-0 right-0 focus:outline-none"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon inline-block bg-no-repeat" aria-hidden="true"></span>
    <span class="visually-hidden"><%= inline_svg_pack_tag 'media/svgs/eva-next.svg', class: 'duration-200 hover:scale-125 inline-block fill-current transform transition-transform duration-100 -translate-x-1 group-hover:translate-x-0' %></span>
</button>

<div class="absolute bottom-5 left-0 right-0 width-100">
  <ol class="carousel-indicators">
        <li class="inline-block mr-3">
          <label id="fp-indic-1" class="carousel-bullet cursor-pointer block text-5xl text-white text-blue-500">•</label>
        </li>
        <li class="inline-block mr-3">
          <label id="fp-indic-2" class="carousel-bullet cursor-pointer block text-5xl text-white">•</label>
        </li>
  </ol>
  <div class="-ml-2 mt-4 pb-4 text-center">
        <%= link_to projects_path(highlight: true), class: 'text-primary-700 font-bold group' do %>
          <button class="rounded border border-none bg-primary-500 text-white hover:bg-primary-600 transform transition-all duration-100 hover:scale-110 py-3 px-6">See All</button>
        <% end %>
  </div>
</div>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>

<script>

  $(window).ready(function() {
    if ($("#fp-indic-2").hasClass('text-blue-500')) {
      $("#featured-project-slider-2").show(300);
    } else {
      $("#featured-project-slider-2").hide();
    }

    $("#featuredProjectButtonNext, #fp-indic-2").on('click', function() {
      $("#featured-project-slider-1").hide();
      $("#featured-project-slider-2").show(300);
      $("#fp-indic-1").removeClass("text-blue-500");
      $("#fp-indic-2").addClass("text-blue-500");
    });
    $("#featuredProjectButtonPrev, #fp-indic-1").on('click', function() {
      $("#featured-project-slider-2").hide();
      $("#featured-project-slider-1").show(300);
      $("#fp-indic-2").removeClass("text-blue-500");
      $("#fp-indic-1").addClass("text-blue-500");
    });
  })

</script>



