<div class="container">
  <div class="flex flex-col justify-center sm:px-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-lg">
      <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">
        About Experia
      </h2>
      <p class="mt-8 text-center text-sm leading-5 text-gray-600 max-w">
        Experia is a platform where users can find and share interesting project ideas to use for a variety of reasons (school, community, business, etc) and create unique solutions for. The idea and design for the platform was conceived in Spring 2021 to provide a platform for students registered in hands-on workshops for experiential learning to form teams and work on side projects, and the development was later inspired by the <a class="text-primary-500 hover:underline" href="https://helpwithcovid.com">Help with Covid</a> initiative and its source code. The platform team are: <a class="text-primary-500 hover:underline" href="https://www.linkedin.com/in/qmahmoud/" target="_blank">Dr. Qusay H. Mahmoud</a>, <a class="text-primary-500 hover:underline" href="https://www.linkedin.com/in/thayan-sivathevan/" target="_blank">Thayan Sivathevan</a>, and <a class="text-primary-500 hover:underline" href="https://www.linkedin.com/in/sohambhavsar" target="_blank">Soham Bhavsar</a> of Ontario Tech University, Canada.
        <br /><br />
        
        <%= link_to "github.com/helpwithcovid/covid-volunteers", "https://github.com/helpwithcovid/covid-volunteers", class: 'text-primary-500 hover:underline' %>
      </p>
    </div>

    <!-- <div class="flex flex-col mt-6">
      <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
        <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
          <table class="min-w-full">
            <tbody>
              <% striped_classes_cycle = [ "bg-white", "bg-gray-50" ] %>

              <tr class="<%= cycle striped_classes_cycle %>">
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900 text-center">
                  Qusay Mahmoud
                </td>
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                  Operations
                </td>
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                  <%= link_to "LinkedIn", "https://www.linkedin.com/in/qmahmoud/", target: "_blank", class: "text-primary-500", rel: "nofollow noopener noreferrer" %>
                </td>
              </tr>
              <tr class="<%= cycle striped_classes_cycle %>">
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900 text-center">
                  Thayan Sivathevan
                </td>
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                  Software Developer
                </td>
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                  <%= link_to "LinkedIn", "https://www.linkedin.com/in/thayan-sivathevan/", target: "_blank", class: "text-primary-500", rel: "nofollow noopener noreferrer" %>
                </td>
              </tr>
              <tr class="<%= cycle striped_classes_cycle %>">
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900 text-center">
                  Soham Bhavsar
                </td>
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                  Software Developer
                </td>
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                  <%= link_to "LinkedIn", "https://www.linkedin.com/in/sohambhavsar/", target: "_blank", class: "text-primary-500" %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div> -->
  </div>
</div>
