<div>
  <div>
    <div>
      <h3 class="text-lg leading-6 font-medium text-gray-900">
        <%= title %>
      </h3>
      <p class="mt-1 max-w-2xl text-sm leading-5 text-gray-500">
        <%= t('this_information_will_be_displayed_publicly') %>
      </p>
    </div>
    <div class="mt-6 sm:mt-5">
      <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
        <label for="name" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
          <%= t('name') %>
        </label>
        <div class="mt-1 sm:mt-0 sm:col-span-2">
          <div class="max-w-lg flex rounded-md shadow-sm">
            <%= f.text_field "name", class: "flex-1 form-input block w-full rounded-md transition duration-150 ease-in-out sm:text-sm sm:leading-5", required: true %>
          </div>
        </div>
      </div>
      <div class="mt-6 sm:mt-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
        <label for="short_description" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
          <%= t('describe_your_project_in_a_tweet') %>
        </label>
        <div class="mt-1 sm:mt-0 sm:col-span-2">
          <div class="max-w-lg flex rounded-md shadow-sm">
            <%= f.text_field "short_description", maxlength: 129, class: "form-textarea block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5", required: true %>
          </div>
          <p class="mt-2 text-sm text-gray-500"><%= t('a_brief_description_about_your_project_max_129_cha') %></p>
        </div>
      </div>
      <!-- <div class="mt-6 sm:mt-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
        <label for="short_description" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
          Enter an image url 
        </label>
        <div class="mt-1 sm:mt-0 sm:col-span-2">
          <div class="max-w-lg flex rounded-md shadow-sm">
            <%= f.text_field "image_url",  class: "change_val hidden form-textarea block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5", required: false %>
            <input class= "image_search form-textarea block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5" type="text" >
            <button class="bg-grey-lightest border-grey border-l shadow hover:bg-grey-lightest search_button">
              <span class="w-auto flex justify-end items-center text-grey p-2 hover:text-grey-darkest">
                <i class="material-icons text-xs">search</i>
              </span>
            </button>
          </div>
          <p class="mt-2 text-sm text-gray-500">Search for an image form <a href="https://unsplash.com/">https://unsplash.com</a></p>
          <div id="display_image">
            <%if !@project.blank? %>
              <%if @project.image_url%>
                <img src=<%= @project.image_url%> >
              <%end%>
            <% end %>
          </div>
        </div>
      </div> -->
    <div class="mt-6 sm:mt-5">
      <div class="sm:border-t sm:border-gray-200 sm:pt-5">
        <div class="sm:grid sm:grid-cols-3 sm:items-baseline">
          <div>
            <legend class="text-base leading-6 font-medium text-gray-900 sm:text-sm sm:leading-5 sm:text-gray-700">
              Project Categories
            </legend>
          </div>
          <div class="ml-2" id="categories">
            <% Settings.project_categories.each do |category| %>
              <div class="mt-2 relative flex items-start">
                <div class="absolute flex items-center h-5">
                <%= f.check_box :category, { multiple: true, class:  "form-checkbox h-4 w-4 text-primary-600 transition duration-150 ease-in-out"}, category.name, nil %>
                </div>
                <div class="pl-7 text-sm">
                  <label id="<%=category.name%>" for="<%=category.name%>" class="font-light text-base text-gray-700">
                    <%= category.name %>
                  </label>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="mt-6 sm:mt-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
          <div>
            <legend class="text-base leading-6 font-medium text-gray-900 sm:text-sm sm:leading-5 sm:text-gray-700">
              Project Tags (optional)
            </legend>
          </div>
          <div class="ml-2" id="tags">
            <% Settings.project_tags.each do |tag| %>
              <div class="mt-2 relative flex items-start">
                <div class="absolute flex items-center h-5">
                <%= f.check_box :tags, { multiple: true, class:  "form-checkbox h-4 w-4 text-primary-600 transition duration-150 ease-in-out"}, tag.name, nil %>
                </div>
                <div class="pl-7 text-sm leading-5">
                  <label id="<%=tag.name%>" for="<%=tag.name%>" class="font-light text-base text-gray-700">
                    <%= tag.name %>
                  </label>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="mt-6 sm:mt-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
          <label for="description" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
            <%= t('describe_your_project') %>
          </label>
          <div class="mt-1 sm:mt-0 sm:col-span-2">
            <div class="max-w-lg flex rounded-md shadow-sm">
              <%= f.text_area :description, rows: 3, class: "form-textarea block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5", required: true %>
            </div>
            <p class="mt-2 text-sm text-gray-500"><%= t('write_a_few_sentences_about_what_you_are_making_an') %></p>
          </div>
        </div>
        <div class="mt-6 sm:mt-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
          <label for="description" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
            <%= t('requirements') %>
          </label>
          <div class="mt-1 sm:mt-0 sm:col-span-2">
            <div class="max-w-lg flex rounded-md shadow-sm">
              <div class="field form-textarea block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5">
                <%= f.rich_text_area :requirements, rows: 3, required: true %>
              </div>
            </div>
            <p class="mt-2 text-sm text-gray-500"><%= t('required_tech') %></p>
          </div>
        </div>
        <div class="mt-6 sm:mt-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
          <label for="description" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
            <%= t('steps') %>
          </label>
          <div class="mt-1 sm:mt-0 sm:col-span-2">
            <div class="max-w-lg flex rounded-md shadow-sm">
              <div class="field form-textarea block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5">
                <%= f.rich_text_area :steps, rows: 3, required: true %>
              </div>
            </div>
            <p class="mt-2 text-sm text-gray-500"><%= t('process') %></p>
          </div>
        </div>
        <div class="mt-6 sm:mt-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
          <label for="links" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
            <%= t('helpful_links') %><br/>
            <span class="text-xs"><%= t('optional') %></span>
          </label>
          <div class="mt-1 sm:mt-0 sm:col-span-2">
            <div class="max-w-lg flex rounded-md shadow-sm">
              <%= f.text_area "links", rows: 3, class: "form-textarea block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5", required: false %>
            </div>
            <p class="mt-2 text-sm text-gray-500"><%= t('any_other_relevant_links_for_instance_git_hub_or_s') %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-8 border-t border-gray-200 pt-5 pb-10">
      <div class="flex justify-end">
        <span class="ml-3 inline-flex rounded-md shadow-sm">
          <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-primary-600 hover:bg-primary-500 focus:outline-none focus:border-primary-700 focus:shadow-outline-primary- active:bg-primary-700 transition duration-150 ease-in-out">
            <%= cta %>
          </button>
        </span>
      </div>
    </div>
  </div>
</div>


<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>

<%# <script>
  $(window).ready(function() {
    let categories = []; //define categories array
    let tags = []; //define categories array
    

    if (window.location.pathname.includes("edit")) {
      let c = $("#categoryArr").val(); //take values of element and set to c
      $("#categoryArr").val(c) //set c to the values of the element
      $('#categories :input[type=checkbox]').each(function () { //for each checkbox
        if (c.includes(this.value)) { //if the stored array c includes the category then check the box
          $(this).prop('checked', true); //check the box
          categories.push(this.value); //add the stored element to the category
        }
      });
    }

    $('#categories :input[type=checkbox]').change(function () {
      if ($(this).is(':checked')) {
            categories.push(this.value);
            $("#categoryArr").val(categories)
      } else {
        const index = categories.indexOf(this.value);
        if (index > -1) {
          categories.splice(index, 1);
        }
        $("#categoryArr").val(categories)
      }
    });


    if (window.location.pathname.includes("edit")) {
      let t = $("#tagArr").val(); //take values of element and set to t
      $("#tagArr").val(t) //set t to the values of the element
      $('#tags :input[type=checkbox]').each(function () { //for each checkbox
        if (t.includes(this.value)) { //if the stored array t includes the category then check the box
          $(this).prop('checked', true); //check the box
          tags.push(this.value); //add the stored element to the category
        }
      });
    }

    $('#tags :input[type=checkbox]').change(function () {
      if ($(this).is(':checked')) {
            tags.push(this.value);
            $("#tagArr").val(tags)
      } else {
        const index = tags.indexOf(this.value);
        if (index > -1) {
          tags.splice(index, 1);
        }
        $("#tagArr").val(tags)
      }
    });

    console.log(categories);
    console.log(tags);


//------------------------------
    // let tags = []; //define tags array
    // if (window.location.pathname.includes("edit")) {
    //   let t = $("#tagArr").val(); //take values of element and set to t
    //   console.log('tag' + t)
    //   console.log('array' + tags)
    //   if (t.includes('[')) {
    //     var splitTags = t.replaceAll('"[','').replaceAll("]", ", ").split(','); 
    //     console.log('empty' + splitTags)
    //   } else {
    //     var splitTags = t
    //     console.log('not empty' + splitTags)
    //   }
    //   $("#tagArr").val(t) //set t to the values of the element
    //   $('#tags :input[type=checkbox]').each(function () { //for each checkbox
    //     splitTags.forEach(element => {
    //       console.log(element)
    //       if (element == this.value) {
    //         $(this).prop('checked', true); //check the box
    //         tags.push(this.value); //add the stored element to the category
    //       }
    //     }); 
    //   });
    // }

    // $('#tags :input[type=checkbox]').change(function () {
    //   if ($(this).is(':checked')) {
    //         tags.push(this.value);
    //         $("#tagArr").val(tags);
    //         console.log(tags)
    //   } else {
    //     const index = tags.indexOf(this.value);
    //     if (index > -1) {
    //       tags.splice(index, 1);
    //     }
    //     console.log(tags);
    //     $("#tagArr").val(tags)
    //   }
    // });
  });

</script>

 %>
