<div class='shadow-lg relative h-80 sm:h-96 flex flex-col bg-gray-50 border-gray-300 rounded-lg width block hover:shadow-2xl transform transition-all duration-200 '>
  <a>
    <%= link_to project, class: 'block transform transition-all duration-100 w-full' do %>
        <div class='hidden sm:block'>
            <%= image_tag "gradient.jpeg", class: 'h-24 w-full rounded-t-lg' %>
        </div>
        <%
          category = Settings.project_categories.select { |cat| cat.name == local_assigns[:category] }.first if local_assigns[:category].present?

          category_override = category.present? ? local_assigns[:category] : nil
        %>

        <div class="flex flex-col px-2 md:px-5 pt-5 pb-6 w-full">
          <div class="text-lg text-left font-medium truncate leading-tight mb-1">
            <% if !project.approved %>
              <%= project.name %> (Unapproved)
            <% else %>
              <%= project.name %>
            <% end %>
          </div>
          <div class="text-gray-500 font-bold text-left text-sm mb-3 leading-tight overflow-hidden">
            <% if project.category.present? %>
              <%= project.category.first %>
            <% else %>
              <%= project.short_description.truncate 150 %>
            <% end %>
          </div>

          <div class="text-gray-500 text-clip text-ellipsis text-left text-sm leading-tight overflow-hidden">
                <div class="text-left sm:h-32 h-40">
                  <%= project.description.truncate 250 %>
                </div>
          </div>
        </div>
        
          <!--<% if project.project_types.present? %>
            <div class="relative w-full h-6 mb-4">
              <span class="scroll-gradient-right inline-block w-4 h-6 absolute right-0 z-50">asdfasdfas</span>
              <div class="w-full overflow-x-auto scrolling-touch scrollbar-hidden">
                <div class="flex flex-row flex-no-wrap flex-shrink-0 space-x-right-2">
                  <% project.project_types.each do |type| %>
                    <%= filter_badge label: type %>
                  <% end %>
                  sdsaffsafasf
                </div>
              </div>
            </div>
          <% end %>-->

        <div class="flex flex-row center px-2 md:px-5 pb-2 pt-2 w-full items-center absolute bottom-0 w-full flex flex-row text-left text-xs">
          <div class="font-bold">
            <%= project.views =%> view(s)
          </div>
          <div class="text-gray-500"><%= time_ago_in_words project.created_at %> ago</div>
          <div class="w-full text-end right-0 text-xs" style="text-align: end;">
            <div class="text-lg">
              <a>
                <%= link_to project, class: 'block transform transition-all duration-100' do %>
                  <div class="content-right width-full sm:none"><span class="text-blue-600 hover:text-cyan-700 hover:underline">View project</span></div>
                <% end %>
              </a>
            </div>
          </div>
        </div>
    <%end%>
  </a>
</div>