<!DOCTYPE html>
<html class="overflow-x-hidden">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= content_for(:share_title).present? ? content_for(:share_title)+' | ' : '' %>Experia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render 'layouts/head_content' %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %> 
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_tag do %>
      I18n.locale = '<%= I18n.locale %>';
    <% end %>

    <%= javascript_pack_tag "translations/#{I18n.locale}" %>

    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.0.1/dist/alpine.js" defer></script>

    <link href="https://fonts.googleapis.com/css2?family=<%= Settings.google_fonts_request %>&display=swap" rel="stylesheet">

      <script async src="https://www.googletagmanager.com/gtag/js?id=<%= google_analytics_id %>"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '<%= google_analytics_id %>');
        <%= track_ga_event_if_needed %>
      </script>
  </head>

  <body class="flex flex-col flex-grow min-h-screen mt-16 h-full antialiased z-1000 <%= @bg_color %>">
    <div class="flex-1">
      <div class="pb-10 header mt-10">
          <% if flash.present? %>
            <div class="flex fixed z-50 mt-2">
              <div id="flash" class="flex z-1000 justify-center lg:justify-start w-screen">
                <% flash.each do |type, msg| %>
                <div class="lg:mx-0 lg:w-auto w-full mx-4 sm:max-w-md bg-teal-100 border-t-4 border-teal-500 lg:rounded-r-lg rounded-none text-teal-900 px-4 shadow-md <%= alert_container_class_for_flash_type type %>" role="alert">
                  <div class="flex">
                    <div class="py-1"><svg class="fill-current h-6 w-6 text-teal-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg></div>
                    <div>
                      <p class="font-bold">Notification</p>
                      <span class="block sm:inline"><%= msg %></span>
                    </div>
                  </div>
                </div>
                <% end %>
              </div>
            </div>  
          <% end %>

          <%= yield %>
        <%= render partial: 'layouts/nav' %>
      </div>

      <%= render partial: "partials/global-announcements" if @show_global_announcements %>

      
    </div>

    <%= render partial: 'layouts/footer' %>
    <%= render partial: 'partials/modal' %>
  </body>

  <script type="text/javascript">
      $(document).ready(function() {
        // if ($(window).width()  1024) {
          $("#flash").delay(0).fadeIn('slow', function() {
            $(this).show();
          });
          $("#flash").delay(3000).fadeOut('slow', function() {
            $(this).css('display', 'none');
          });
        // } else {
        //   $("#flash").css('display', 'none');
        // }
      });
  </script>
</html>
